/* RESETS */
:root, body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  /* Set the default colors: */
  --primary-color: #1A1C8E;
  --secondary-color: #D4AF34;
}

body
{
  font-size: 2rem;
}
