<footer class="bg-primary-800 pt-12 pb-12 w-full text-md text-center text-gray-100">
    <div class="flex flex-col sm:flex-row justify-center space-y-5 sm:space-y-0 sm:space-x-5">
        <a href="/">Home</a>
        <a href="/documentation.html">Documentation</a>
        <a href="/terms.html">Terms of service</a>
        <a href="/privacy.html">Privacy</a>
        <a href="/imprint.html">Imprint</a>  
    </div>
    <div class="mt-4 text-xs text-gray-300">
        <a href="https://inspired.consulting">&copy; 2024 Inspired Consulting GmbH</a>
    </div>
</footer>
