<footer class="my-12 w-full text-sm text-center text-gray-300">
    <div class="mt-5 space-x-5">
        <a href="https://inspired.consulting">&copy; 2023 Inspired Consulting GmbH</a>
        <a href="/">Home</a>
        <a href="/imprint.html">Imprint</a>
    </div>
</footer>