<footer class="mt-5 w-full text-xs text-center text-legendary-200">
    <div class="mt-5 space-x-5">
        <a href="https://inspired.consulting">&copy; 2023 Inspired Consulting GmbH</a>
        <a href="/">Home</a>
        <a href="/imprint.html">Imprint</a>
    </div>
</footer>
