@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer components {
    .btn-primary {
        @apply py-2 px-4 bg-primary-500 text-white font-semibold rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
    }
    .btn-secondary {
        @apply py-2 px-4 bg-gray-200 text-white font-semibold rounded-lg shadow-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-opacity-75;
    }
}

/* Initially hide animated icon */
.ts-animated-icon {
    display: none;
}

/* Show animated icon on card hover */
.ts-hover-trigger:hover .ts-static-icon {
    display: none;
}

.ts-hover-trigger:hover .ts-animated-icon {
    display: block;
}

.icon-container {
    height: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.external-link::after {
    content: "\2197"; 
    margin-left: 0.2em;
}